
@media screen and (max-width: 1680px) {
  html {
    font-size: 20px !important;
  }

}

@media screen and (max-width: 1366px) {
  html {
    font-size: 18px !important;
  }

}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px !important;
  }

}

@media screen and (max-width: 870px) {
    .margin-base{
        margin: 0px 5rem !important;
    }
}

@media screen and (max-width: 770px) {


    .holder-inicio{
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        gap: 2rem;
    }
    .fa-circle-arrow-right{
    display: none !important;
    }
    .pointing-selector{
        flex-direction: row !important;
        justify-content: center;
    }
    .pointing-selector div > .link-style {
    margin-left: unset !important;
}
}

@media screen and (max-width: 570px) { 
    html{
            font-size: 12px !important;
        }
    .margin-base{
        margin: 0px 2rem !important;
    }
}



html{
    scroll-behavior: smooth;
}


.link-style{
    text-decoration: unset;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-bottom: 0.2rem solid white;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 9.5rem;
}

.pointing-selector{
    gap: 0.5rem;
}

.pointing-selector div:nth-child(2){
    align-items: center;
}

.pointing-selector  div > .link-style {
    margin-left: 3.2rem;
}

.d-flex > .fa-circle-arrow-right{
    color: #0F1217;
    border: 0.2rem solid transparent;
    background:
     linear-gradient(90deg, #ff6a00, #ee0979) border-box;
    border-radius: 100%;
    transition: transform 0.7s ease; 
    transform-origin: center center; 
    font-size: 2.2rem;
}

.mt-2{
    margin-top: 2rem;
}

.info-projetos{
     border-radius: 10px;
     width: 85%;
    background-color: #1b1b1b;
}

.info-experiencias{
     background-color: #1b1b1b;
    border-radius: 10px;
     width: 85%;
}

.info-experiencias > p:nth-child(1){
    color: white;
    font-size: 1.8rem;
}

.logo_Iuul{
    width: 4.5rem;
    border-radius: 10px;
}

.margin-unset{
    margin: unset;
}

.pd-1{
    padding: 1rem;
}

.margin-base{
    margin: 0px 10rem;
}

.h-100vh{
    height: 100vh;
}


.wrap{
    flex-wrap: wrap;
}

.flex-300{
    flex: 1 1 300px;
}

.section-header{
    font-size: 2rem;
}

.section-header > span {
    color: white;
    background-color: black;
    width: 1rem;
}

.section-header > div > p {
    margin: unset;
}

.section-header div:nth-child(2) {
    text-align: center;
    background-color: white;
    width: 13rem;
    z-index: 1;
}

.section-header div:nth-child(3) {
    width: 30rem;
    background-size: 2rem;
    background-repeat: round;
    background-image: url("/img/x.png");
    margin-left: -1rem;
}

.section-holder{
    margin-left: 4rem;
    margin-top: 3rem;
    min-height: 30rem;
}

.info-container{
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.info-container  p {
    margin: unset;
    
}


.text-justify{
    text-align: justify;
}

.info-container p:nth-child(1) {
    border-radius: 10px;
    background-color: #1b1b1b;
    text-align: center;
    padding: 1rem;
}


.gap-1{
    gap: 1rem;
}

.header-info-projetos{
    font-size: 1.8rem;
}

.section-holder .info-projetos:nth-child(n+2){
    margin-top: 1.5rem;
}

.info-projetos div:nth-child(1) > img {
    width: 4rem;
}

html{
     font-size: 24px ;
}


body{
    background-color: #0F1217;
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: normal;
    margin: unset;
}

main{
    margin: unset;
}


.tituloGrande{
    font-size: 4.5rem;
}

.tituloPequeno{
    font-size: 2rem;
}

.boasVindas-text > p{
    margin: unset;
}


.space-between{
    justify-content: space-between
}


.justify-center{
    justify-content: center;
}

.gap-4{
    gap: 4rem;
}

.pd-2{
    padding: 1.5rem;
}


.width-100{
    width: 100%;
}

.content-center{
    align-content: center;
}

.align-center{
    align-items: center;
}

.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.fotoPerfil{
    width: 15rem;
    object-fit: contain;
    border-radius: 30px;
}

.pointing-hand{
    width: 4.5rem;
   
}

.white-font{
    color: white;
}

.fill-disable{
    -webkit-text-fill-color: initial;
}

.gradiente-font{
      background: linear-gradient(90deg, #ff6a00, #ee0979);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
}